/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/tabmail.css");

/**
 * Tabmail Tabs
 */

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

.tabmail-arrowscrollbox {
  margin-bottom: -1px;
}

#tabs-toolbar:not(:-moz-lwtheme),
#messengerWindow[tabsintitlebar="false"] #tabs-toolbar {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 1px, transparent 50%);
}

#messengerWindow[sizemode=normal][tabsintitlebar="true"] #tabs-toolbar:not(:-moz-lwtheme) {
  background-image: none !important;
}

#messengerWindow[sizemode="normal"] #tabs-toolbar {
  padding-left: 4px;
  padding-right: 4px;
}

/**
 * Tab
 */

@media (-moz-os-version: windows-win8) {
  /* Square is the new round, courtesy of microsoft */
  /* We keep the hinting at round here because that's the hybrid in use
     on our other controls in the navigation toolbars */
  #tabs-toolbar {
    --tab-border-radius: 3.5px;
  }
}

@media (-moz-os-version: windows-win10) {
  /* Square is the new round, courtesy of microsoft */
  #tabs-toolbar {
    --tab-border-radius: 0px;
    --tab-box-shadow: none;
  }

  #messengerWindow[sizemode="maximized"][tabsintitlebar="true"] #tabs-toolbar {
    --tab-height: 28px;
  }
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  @media not all and (-moz-windows-default-theme) {
    #tabs-toolbar:not(:-moz-lwtheme) {
      color: CaptionText;
    }

    #tabs-toolbar:not(:-moz-lwtheme):-moz-window-inactive,
    #messengerWindow:not([tabsintitlebar])
      .tabmail-tab:not([selected]):not(:-moz-lwtheme):-moz-window-inactive {
      color: InactiveCaptionText;
    }
  }
}

@media (min-resolution: 1.1dppx) {
  .tab-throbber {
    list-style-image: url("chrome://global/skin/icons/loading@2x.png") !important;
  }
}

#messengerWindow[tabsintitlebar]
.tabmail-tab:not([selected]):not(:-moz-lwtheme) {
  color: CaptionText;
}

#messengerWindow[tabsintitlebar]
.tabmail-tab:not([selected]):not(:-moz-lwtheme):-moz-window-inactive {
  color: InactiveCaptionText;
}

.tabmail-tab[busy],
.tabmail-tab[thinking] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
  -moz-image-region: auto !important;
}

.tabmail-tab[type="glodaSearch"] {
  list-style-image: url("chrome://global/skin/icons/Search-glass.png");
}

.tabmail-tab {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

tabpanels {
  -moz-appearance: none;
  background-color: transparent;
}

/* tabmail-tab focus ring */
.tabmail-tab:focus > .tab-stack {
  outline: 0.6px dotted;
}

@media (min-resolution: 1.25dppx) {
  #tabs-toolbar:not(:-moz-lwtheme),
  #messengerWindow[tabsintitlebar="false"] #tabs-toolbar {
    padding-bottom: 0.6px;
  }
}

/* Tab DnD indicator */
.tab-drop-indicator {
  list-style-image: url(tabs/dragIndicator.png);
  margin-bottom: -11px;
}

/* Tabstrip close button */
.tabs-closebutton {
  border: none;
}

/* Invert the unhovered close tab icons on bright-text tabs */
.tab-close-button:-moz-lwtheme-brighttext,
.tab-close-button:-moz-lwtheme-brighttext:not([selected=true]),
.tabs-closebutton:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://global/skin/icons/close-inverted.svg");
}

.tabs-closebutton-box > .tabs-closebutton {
  margin-top: 1px;
  padding: 0 2px;
}

.tabs-closebutton:focus {
  outline: none !important;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

.tabs-left {
  display: none;
}

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  list-style-image: url(tabs/arrow-left.svg);
}

#tabs-toolbar[brighttext] .tabmail-arrowscrollbox > .scrollbutton-up,
#tabs-toolbar[brighttext] .tabmail-arrowscrollbox > stack > .scrollbutton-down {
  list-style-image: url(tabs/arrow-left-inverted.svg);
}

.tabmail-arrowscrollbox > .scrollbutton-up[disabled],
.tabmail-arrowscrollbox > stack > .scrollbutton-down[disabled] {
  opacity: .4;
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-locale-dir(rtl),
.tabmail-arrowscrollbox > stack > .scrollbutton-down:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  margin: 0;
  margin-inline-end: 1px;
  border-radius: 0;
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-locale-dir(rtl),
.tabmail-arrowscrollbox > stack > .scrollbutton-down:-moz-locale-dir(ltr) {
  margin-inline-start: 1px;
  margin-inline-end: 0;
}

/**
 * All Tabs Button
 */

.tabs-alltabs-button,
.tabmail-tabs toolbarbutton {
  -moz-appearance: none;
  border-style: none;
  padding: 0 3px;
}

.tabs-alltabs-button:hover,
.tabs-alltabs-button[open],
.tabs-alltabs-button:hover:active,
.tabmail-arrowscrollbox > .scrollbutton-up:not([disabled]):hover,
.tabmail-arrowscrollbox > stack > .scrollbutton-down:not([disabled]):hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, .5)),
                    linear-gradient(transparent, rgba(0, 0, 0, .25) 30%),
                    linear-gradient(transparent, rgba(0, 0, 0, .25) 30%);
  background-position: 1px -1px, 0 -1px, 100% -1px;
  background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
}

.tabs-alltabs-button {
  margin-bottom: -1px;
  width: 18px;
  list-style-image: url(icons/dropmarker.svg#win);
}

#tabs-toolbar[brighttext] .tabs-alltabs-button {
  list-style-image: url(icons/dropmarker.svg#win-inverted);
}

.tabs-alltabs-button > .toolbarbutton-icon {
  width: 9px;
  height: 7px;
  margin: 3px 0;
}

.tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  .tabs-alltabs-button {
    list-style-image: url(icons/dropmarker.svg#win8);
  }

  #tabs-toolbar[brighttext] .tabs-alltabs-button {
    list-style-image: url(icons/dropmarker.svg#win8-inverted);
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-win8) {
  #messengerWindow[darkwindowframe="true"]
  #tabs-toolbar:not(:-moz-lwtheme):not(:-moz-window-inactive),
  #messengerWindow[darkwindowframe="true"]
  .tabmail-tab:not([selected="true"]):not(:-moz-lwtheme):not(:-moz-window-inactive) {
    color: white;
  }

  #messengerWindow[darkwindowframe="true"]
  .tabs-alltabs-button:not(:-moz-lwtheme):-moz-window-inactive {
    padding-inline-start: 5px;
    padding-inline-end: 5px;
  }

  .tabs-alltabs-button > .toolbarbutton-icon {
    margin: 4px 0 0;
  }
}

.tabs-alltabs-button > .toolbarbutton-text {
  display: none;
}

/**
 * All Tabs Menupopup
 */

.alltabs-item {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
}
