/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --toolbar-custom-color: -moz-Dialog;
  --toolbar-highlight-top: rgba(255, 255, 255, .5);
  --toolbar-highlight-bottom: transparent;
  --toolbar-shadow-color: rgba(10%, 10%, 10%, .4);
  --toolbox-after-color: ThreeDShadow;
}

:-moz-any(#mail-bar3, #calendar-toolbar2, #task-toolbar2, #event-tab-toolbar, .glodaTabToolbar),
:-moz-any(#mail-bar3, #calendar-toolbar2, #task-toolbar2, #event-tab-toolbar, .glodaTabToolbar)[collapsed=true]:not([customizing]) + toolbar,
:-moz-any(#mail-bar3, #calendar-toolbar2, #task-toolbar2, #event-tab-toolbar, .glodaTabToolbar)[collapsed=true]:not([customizing]) + #customToolbars {
  background-image: linear-gradient(var(--toolbar-highlight-top), var(--toolbar-highlight-bottom));
}

description.error {
  color: #FF0000;
}

.toolbar-primary {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar");
}

toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}

#tabbar-toolbar {
  -moz-appearance: none;
  padding: 0;
}

#tabbar-toolbar[customizing="true"] {
  min-width: 16px;
  min-height: 10px;
}

/* :::::: throbber :::::::::: */

#throbber-box {
  width: 16px;
  min-height: 16px;
  margin: 0 3px;
}

#throbber-box[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading.png");
}

#wrapper-throbber-box > #throbber-box {
  list-style-image: url("chrome://messenger/skin/icons/notloading.png");
}

/* ::::: online/offline icons ::::: */

#offline-status[offline="true"] {
  list-style-image: url("chrome://messenger/skin/icons/offline.png");
}

#offline-status {
  padding: 0 2px;
  list-style-image: url("chrome://messenger/skin/icons/online.png");
}

/* ::::: Notifications ::::: */

notification[value="addon-install-blocked"],
notification[value="addon-install-complete"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png"),
                    linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  border-top: none;
  border-bottom: none;
}

notification[value="addon-install-failed"] {
  background-image: linear-gradient(rgb(255, 100, 100), rgb(204, 85, 85));
}

/* ::::: searchTermOverlay ::::: */

#searchTermList > listitem[highlight = "true"] {
  animation: highlight .4s ease-in;
}

@keyframes highlight {
  from { background-color: Highlight; }
  to { background-color: transparent; }
}

#findbar-beforeReplaceSeparator {
  height: 16px;
}
